{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login - Mirage</title>
</head>
<body>
    <header>
        <center>
            <img src="{% static 'assets/banner_with_icon.png' %}" class="logo" alt="Logo">
        </center>
    </header>
    <center>
        <div class="error-box">
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
        </div>
        <div class="login-box">
            <h1>Sign In</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username or Email">
                <input type="password" name="password" placeholder="Password">
                <center><button type="submit">Login</button></center>
            </form>
            <p>Don't have an account? <br>
                <a href="{% url 'signup' %}">Sign up here!</a>
            </p>
        </div>
    </center>
</body>
</html>