{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign Up - Mirage</title>
</head>
<body>
    <header>
        <center>
            <img src="{% static 'assets/banner_with_icon.png' %}" class="logo" alt="Logo">
        </center>
    </header>
    <center>
        <div class="signup-box">
            <h1>Sign Up</h1>
            <form>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="password" placeholder="Confirm Password">
                <center><button type="submit">Sign Up</button></center>
            </form>
        </div>
    </center>
</body>
</html>